.footer {
  clear: both;
  display: block;
  width: 550px;
}

.btn {
  padding: 5px;
  /* font-size: 18px;*/
  background-color: rgb(61, 117, 220);
  color: #FFF;
  border: 2px solid rgb(18, 190, 220);  
  border-radius: 6px; 
  display: block;
  float: right;
}