.input-group {
  width: 550px;
}

.input_string {
  width: 75%; 
  border: 2px solid #FFF;
  border-radius: 5px;
  height: 40px;
  font-family: 'Candal', sans-serif;
  font-size: 16px;  
}

.header h3 {
  padding: 10px;
  font-family: 'Candal', sans-serif;
  font-size: 3em;
  text-align: center;
}