* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 22px;  
  font-family: 'Candal', sans-serif;
}

body {
  background: #11b4ac;
}

input {
  vertical-align: middle;
  height: 26px;
  width: 26px;
}

.todolist {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  width: 600px;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
}
